# Ignore everything
/*
!.gitignore
!.git/

# Except the following
# nvim is added as a submodule

# Terminal programs
!alacritty
!btop
!vis
!neofetch

# UI / Display manager
!swaylock
!swaync
!waybar
!rofi
!hypr
!wlogout
